{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "masterVmSize": {
            "value": "Standard_E2s_v3"
        },
        "infraVmSize": {
            "value": "Standard_E2s_v3"
        },
        "nodeVmSize": {
            "value": "Standard_E2s_v3"
        },
        "openshiftClusterPrefix": {
            "value": "oshiftdemo-cluster"
        },
        "masterInstanceCount": {
            "value": 1
        },
        "infraInstanceCount": {
            "value": 1
        },
        "nodeInstanceCount": {
            "value": 2
        },
        "dataDiskSize": {
            "value": 128
        },
        "adminUsername": {
            "value": "clusteradmin"
        },
        "openshiftPassword": {
            "value": "HelloWorld123!"
        },
        "sshPublicKey": {
            "value": "ssh-rsa AAAAB3XXXSECRETXXXX"
        },
        "keyVaultResourceGroup": {
            "value": "vuggieopenshiftdemo"
        },
        "keyVaultName": {
            "value": "vuggieopenshiftdemo-kv"
        },
        "keyVaultSecret": {
            "value": "secretkey"
        },
        "aadClientId": {
            "value": "e7fb0acb-255d-4a72-8186-XXXSECRET"
        },
        "aadClientSecret": {
            "value": "HelloWorld123!"
        },
        "defaultSubDomainType": {
            "value": "nipio"
        }
    }
}
